.formAddPoint {
    padding: 10px;

    p {
        font-style: italic;
    }
}

.advice {
    font-size: 0.9rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 50%;
    text-transform: capitalize;
    font-size: 1.1rem !important;
}

.module, .address, .file {
    width: 100%;
}

.message {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 0.9rem;
    border-radius: 5px;
    color: green;
    font-style: italic;
    text-align: center;
}

.err {
    color: red !important;
}

@media only screen and (max-width: 480px) {
    .button {
        width: 60%;
    }
}
